<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <sel-product-item></sel-product-item>
</ion-content>
