<ion-card>
  <img src="./../../../assets/Shop.jpg"/>
  <ion-card-content class="card__content">
    <ion-card-title class="card__title">
      Nine Inch Nails Live
    </ion-card-title>
  </ion-card-content>
</ion-card>
